# Better Auth Configuration
BETTER_AUTH_SECRET=your_super_secret_string_here
BETTER_AUTH_URL=http://localhost:3000

# Firebase Admin Configuration (Get these from your Firebase Service Account JSON)
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY="your_firebase_private_key_with_newlines"

# For client-side Firebase if needed later
NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id



# // Import the functions you need from the SDKs you need
# import { initializeApp } from "firebase/app";
# import { getAnalytics } from "firebase/analytics";
# // TODO: Add SDKs for Firebase products that you want to use
# // https://firebase.google.com/docs/web/setup#available-libraries

# // Your web app's Firebase configuration
# // For Firebase JS SDK v7.20.0 and later, measurementId is optional
# const firebaseConfig = {
#   apiKey: "AIzaSyBScQmUqj6Y8dOIhPuQXIBBE0wUp_wcmOE",
#   authDomain: "tradixa-f1af4.firebaseapp.com",
#   projectId: "tradixa-f1af4",
#   storageBucket: "tradixa-f1af4.firebasestorage.app",
#   messagingSenderId: "207680855972",
#   appId: "1:207680855972:web:09eec018dcf495b88b6b31",
#   measurementId: "G-7HQ96Q5RXR"
# };

# // Initialize Firebase
# const app = initializeApp(firebaseConfig);
# const analytics = getAnalytics(app);